$resolution1: 0px
$resolution2: 0px
/** RESPOSIVIDAD **/


header
    position: relative
    //top: 0
    display: flex
    justify-content: space-between
    align-items: center
    padding: .7% 10%
    width: 100%
    background-color: white

    .logoJCAIRE
        max-width:6%

    .logoJCAIRE:hover
        filter: none
        cursor: pointer
        transition: all 0.3s ease 0s
        max-width:6.1%

    .topnav
        
        a 
            display: inline-block
            text-align: center
            font-weight: bold
            padding: 5px 20px
            margin: 0 10px
            text-decoration: none
            font-size: 120%
            color: rgb(0, 66, 11)
            font-family: candara

            .icon
            //position: relative
            //display: none
            //top: 7px
            //font-size: 17px

    .topnav a .active, .topnav a:hover
        background-color: black
        color: white
        border-radius: 10% 10%

@media screen and ($resolution1)
  
@media screen and ($resolution2)