<!-- NOSOTROS  -->
<div id="about-jc" class="about">

    <div>
      <h1>Nosotros</h1>
      <p class="parrafo">Realizamos instalación, reparación y mantenimiento a sistemas de aire acondicionado en
        fábricas,
        empresas, escuelas y otros edificios. <br> <br>
        Estos sistemas mantienen el lugar fresco y agradable, pero también tienen el potencial de causar daños
        importantes
        cuando se instalan o reemplazan de manera incorrecta, por eso es recomendable dejar este trabajo a
        profesionales
        calificados para realizarlo. <br><br>
        <i>"Reducir el riesgo de daños a sus equipos y su comodidad es nuestra prioridad"</i> </p>

      <br><br>

      <p class="parrafo2"> Nuestro buen trabajo queda evidenciado por nuestros clientes satisfechos, lo que nos motiva
        a continuar adelante
        entregando el servicio de calidad que tu te mereces.
        <br> <br>
        Es primordial dejar que nuestros éxitos se demuestren, por eso incluimos algunos trabajos que hemos realizado,
        si
        deseas hacer un analisis o evaluación puedes comunicarte con nosotros <a href="#formulario">Aqui</a> , para
        resolver tus dudas
        y proporcionarte todos los detalles sobre nuestro trabajo.</p>
    </div>

  </div>
