 <!-- FORMULARIO -->
 <div id="formulario" class="formulario">

    <div class="container">
      <form class="form">
        <h2>CONTACTA CON NOSOTROS</h2>
        <p type="Nombre:"><input placeholder="Escribe tu nombre aqui.."></p>
        <p type="Email:"><input placeholder="Por este medio contactaremos.."></p>
        <p type="Mensaje:"><input placeholder="Que te gustaria preguntarnos.."></p>
        <button>Enviar</button>
        <div>
          <span class="fa fa-phone"></span>+57 304 3786272
          <span class="fa fa-envelope-o"></span> support@jcaire.com
        </div>
      </form>
    </div>
</div>
<!-- SVG AIRE -->
<img loading="lazy" class="SVGaire" src="../assets/img/aireacondicionado.svg" alt="svg">
